<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quickblox.sample.videochat.java">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.quickblox.sample.messages.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.autonsi.databoard.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppThemee"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden|stateUnchanged">
        <activity android:name="com.autonsi.databoard.Ship.ShippingScan.PickkingScanActivity"
            android:parentActivityName="com.autonsi.databoard.Ship.ShipActivity"
            android:theme="@style/AppThemee.NoActionBar"
            />
        <activity
            android:name="com.autonsi.databoard.Receving.FindQRCode.FindQRCodeActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:theme="@style/AppThemee.NoActionBar" />
        <activity
            android:name="com.autonsi.databoard.Receving.ReceivingScan.ReceivingScanActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:theme="@style/AppThemee.NoActionBar" />
        <activity
            android:name="com.autonsi.databoard.Ship.ConfirmActivity"
            android:parentActivityName="com.autonsi.databoard.Ship.ShipActivity" />
        <activity
            android:name="com.autonsi.databoard.Ship.PickingManualActivity"
            android:parentActivityName="com.autonsi.databoard.Ship.ShipActivity" />
        <activity
            android:name="com.autonsi.databoard.Ship.ShipActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity" />
        <activity
            android:name="com.autonsi.databoard.Receving.ReceivingOder.OderInformation.OrderInforActivity"
            android:parentActivityName="com.autonsi.databoard.Receving.ReceivingOder.ReceivingActivity" />
        <activity
            android:name="com.autonsi.databoard.Receving.ReceivingOder.ReceivingActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity" />
        <activity
            android:name="com.autonsi.databoard.Counting.Scan.ScanQRActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:theme="@style/AppThemee.NoActionBar" />
        <activity
            android:name="com.autonsi.databoard.Counting.StatusLayout.CountingMapBuildActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.Counting.Count.Detail.CountingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar" />
        <activity
            android:name="com.autonsi.databoard.Counting.StatusLayout.CountingMapFloorActivity"
            android:parentActivityName="com.autonsi.databoard.Counting.StatusLayout.CountingMapBuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.Counting.Count.CountActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.autonsi.databoard.Counting.StatusLayout.MapSensor.CountingMapSensorActivity"
            android:parentActivityName="com.autonsi.databoard.Counting.StatusLayout.CountingMapFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.Counting.DashBoard.CountingStatusActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.Counting.CountList.CountListActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.AlarmData.Dashboard.AlarmDashboardActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.AlarmData.StatusLayout.MapSensor.MapSensorAlarmActivity"
            android:parentActivityName="com.autonsi.databoard.AlarmData.StatusLayout.MapFloorAlrmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.AlarmData.StatusLayout.MapFloorAlrmActivity"
            android:parentActivityName="com.autonsi.databoard.AlarmData.StatusLayout.MapBuildAlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.AlarmData.StatusLayout.MapBuildAlarmActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.IssuesReport.IssuesReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.autonsi.databoard.fragment.Homeinfosensor.IssuesToday"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.AlarmData.IssuesList.AlarmIssuesList"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.autonsi.databoard.CCTV.CCTVList.CCTVListActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.autonsi.databoard.CCTV.CCTVLayout.CCTVBuildActivity"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.CCTV.CCTVLayout.CCTVSensorActivity"
            android:parentActivityName="com.autonsi.databoard.CCTV.CCTVLayout.CCTVFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.CCTV.CCTVLayout.CCTVFloorActivity"
            android:parentActivityName="com.autonsi.databoard.CCTV.CCTVLayout.CCTVBuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.CCTV.CCTVList.CCTVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.StatusLayout.MapFloor.MapFloorActivity"
            android:parentActivityName="com.autonsi.databoard.DigitalData.StatusLayout.MapFloor.MapFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.StatusLayout.MapBuild.MapBuildActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.IssuesList.IssuesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.SensorList.SensorCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.autonsi.databoard.DigitalData.StatusLayout.Mapsensor.MapActivity"
            android:parentActivityName="com.autonsi.databoard.DigitalData.StatusLayout.MapFloor.MapFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.ActivitiesLogin.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autonsi.databoard.ActivitiesLogin.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.autonsi.databoard.ActivitiesLogin.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee.NoActionBar" />

        <service
            android:name="com.autonsi.databoard.NotificationService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.tutorialspoint.com.notifyme.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>